#root {
  text-align: center;
  padding: 2rem 0 0 0;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.p-2em {
  padding: 2em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
